.card {
    border: 1px solid #ddd;
    border-radius: 3px;
    background: color #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
}

#main-header {
    background: #333;
    color: #fff;
}
.link {
    text-align: center;
    display: block;
}
#aside {
    float: right;
    width: 30%;
}
#okey {
    float: left;
    width: 65%;
}
.clr {
    clear: both;
}
footer {
    background: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    
} 