h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
button {
    font-size: bold;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    
}
h1 {
    
    font-size: 30px;
    
}

#increment-btn {
    background: darkred;
}
#save-btn {
   background: green;
}
.container {
    width: 300px;
    height: 250px;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
}